.input_arrow_container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    cursor: pointer;
}

.input_container {
    position: relative;
    width: 100%;
}

.input_arrow {
    border: solid black;
    border-width:  0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: translate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown_container input {
    width: 100%;
    padding: 0;
    border-width: 1px;
    height: 36px;
    padding-left: 10px;
}

.option {
    height: 36px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    background-color: white;
}

.option:hover {
    background-color: royalblue;
}

.dropdown {
    border: 1px solid black;
    border-bottom: none;
    position: absolute;
    width: 100%;
    display: none;
}

.dropdown.visible {
    display: block;
}

.dropdown_container {
    width: 250px;
    position: relative;
}

.input_clear_container {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
